<header>
    <h1>
        Stray Cat
        <span>Tracker</span>
    </h1>

    <h3>Is there a stray cat in your area?</h3>

</header>

<div class="cat-component-container">


    <%=link_to("+", new_cat_path, class: "empty-cat-component")%>

    <% @cats.each_with_index do |cat, index| %>

        <div class="cat-component">
            <h2 class="cat-component-title"><%=cat["name"]%></h2>
            <img class="cat-component-pic" src="https://robohash.org/<%=cat["img_id"]%>?set=set4">
            <div class="cat-component-icon-container">

                <%=link_to(image_tag("info.png", class: "cat-component-icon"), cat_path(index))%>
                <%=link_to(image_tag("edit.png", class: "cat-component-icon"), edit_cat_path(index))%>
                <%=link_to(image_tag("delete.png", class: "cat-component-icon"), delete_cat_path(index))%>
            </div>
        </div>

    <% end %>

</div>