<div id="index">

    <div class="cat-component__container">

        <%=link_to("+", new_cat_path, class: "cat-component cat-component--empty")%>

        <% @cats.each_with_index do |cat, index| %>

            <div class="cat-component">
                <h2 class="cat-component__name"><%=cat["name"]%></h2>
                <img class="cat-component__pic" src="https://robohash.org/<%=cat["img_id"]%>?set=set4">
                <div class="cat-component__icon-container">

                    <%=link_to(image_tag("info.png", class: "icon"), cat_path(index))%>
                    <%=link_to(image_tag("edit.png", class: "icon"), edit_cat_path(index))%>
                    <%=link_to(image_tag("delete.png", class: "icon"), delete_cat_path(index))%>
                </div>
            </div>

        <% end %>

    </div>
</div>